<a href="https://colab.research.google.com/github/Oreolorun/NeuralNetsPractice/blob/main/WebScrapingPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#  Importing libraries
from urllib.request import urlopen
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os
import requests
import cv2
import matplotlib.pyplot as plt
from tqdm import tqdm

In [37]:
#  mounting drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [42]:
os.chdir('Car_Images/sedans')

In [3]:
#  Scraping
url = 'https://www.ebay.com/b/Toyota-Corolla-Cars/6001/bn_24017042'

hdr = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
       'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
       'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
       'Accept-Encoding': 'none',
       'Accept-Language': 'en-US,en;q=0.8',
       'Connection': 'keep-alive'}

request = urllib.request.Request(url, headers=hdr)

html = urlopen(request)
bs = BeautifulSoup(html.read(), 'html.parser')

#  Filtering car names and prices
car_titles = bs.find_all('h3', attrs={'class':'s-item__title'})
car_prices = bs.find_all('span', attrs={'class':'s-item__price'})

#  Creating lists and a dictionary to hold scrapped data
cars = []
prices = []
scrapped = {}

#  Iterating through car names and appending to list
for title in car_titles:
  cars.append(title.get_text())

#  Iterating through car prices and appending to list
for price in car_prices:
  prices.append(price.get_text())

#  Creating key, value pairs in dictionary
scrapped['Car'] = cars
scrapped['Price'] = prices

In [4]:
#  Creating dataframe object
df = pd.DataFrame(scrapped)
df.head()

                                Car       Price
0     1987 Toyota Corolla SPORT SR5  $16,000.00
1  2009 Toyota Corolla XRS Sedan 4D  $10,495.00
2   2001 Toyota Corolla LE Sedan 4D   $6,995.00
3            2020 Toyota Corolla LE  $14,300.00
4    2019 Toyota Corolla LE-EDITION   $8,950.00

In [5]:
#  Formatting the 'Price' attribute as float
df.Price = df.Price.map(lambda x: x[1:].replace(',',''))
df['Price'] = df['Price'].astype(float)
df.head()

                                Car    Price
0     1987 Toyota Corolla SPORT SR5  16000.0
1  2009 Toyota Corolla XRS Sedan 4D  10495.0
2   2001 Toyota Corolla LE Sedan 4D   6995.0
3            2020 Toyota Corolla LE  14300.0
4    2019 Toyota Corolla LE-EDITION   8950.0

## Ebay

In [ ]:
#  Ebay

image_count = 0
image_src = []

for i in tqdm(range(1,11)):
  url_2 = f'https://www.dreamstime.com/photos-images/sedan-car.html?pg={str(i)}'

  hdr = {'User-Agent': 'MyApp/1.0',
       'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
       'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
       'Accept-Encoding': 'none',
       'Accept-Language': 'en-US,en;q=0.8',
       'Connection': 'keep-alive'}

  request_2 = urllib.request.Request(url_2, headers=hdr)

  html_2 = urlopen(request_2)
  bs_2 = BeautifulSoup(html_2.read(), 'html.parser')

  images = bs_2.find_all('img', attrs={'class':'dt-image'})

  for image in images:
    image_src.append(image['data-src'])

In [ ]:
image_src

In [ ]:
#  Downloading images
image_count = 460
for image in tqdm(image_src[460:]):
  with open(f'sedan_{str(image_count)}.jpg', 'wb') as f:
    res = requests.get(image)
    f.write(res.content)
  image_count+=1

## Google

In [47]:
carguru_images = []
for i in tqdm(range(1, 1000)):
  url = f'https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=carGurusHomePageBody&bodyTypeGroup=bg6&minPrice=0&maxPrice=&zip=90011#resultsPage={str(i)}'

  hdr_3 = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
        'Accept-Encoding': 'none',
        'Accept-Language': 'en-US,en;q=0.8',
        'Connection': 'keep-alive'}

  request = urllib.request.Request(url, headers=hdr_3)

  html = urlopen(request)
  bs = BeautifulSoup(html.read(), 'html.parser')

  images_carguru = bs.find_all('img', attrs={'class':'embedResponsiveItem'})
  for img in images_carguru:
    carguru_images.append(img['src'])

100%|██████████| 999/999 [21:29<00:00,  1.29s/it]

In [49]:
#  Downloading images
image_count = 461
for image in tqdm(carguru_images):
  with open(f'sedan_{str(image_count)}.jpg', 'wb') as f:
    res = requests.get(image)
    f.write(res.content)
  image_count+=1

100%|██████████| 18981/18981 [38:40<00:00,  8.18it/s]

In [46]:
for c in images_carguru:
  print(c['src'])
  break

https://static.cargurus.com/images/forsale/2021/11/20/19/00/2019_volkswagen_jetta-pic-5379300474152507842-1024x768.jpeg?io=true&width=640&height=480&fit=bounds&format=jpg&auto=webp